#review{
  padding: 110px 0;

  .slick-list{
    width: 100% !important;
  }
  .slick-slide{
    width: 895px !important;
  }
  .slick-track{
    width: 14636px !important;
  }
  .slick-prev{
    z-index: 2;
  }
.slick-next{
  right: 27px !important;
}

.slick-prev{
  left: 27px!important;
}
  h1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;

  }

  .review{

    &--block{
      box-sizing: border-box;
      width: 86.33%;
      height: 224px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(12px);
      border-radius: 10px;
       span{
         margin-left: 20px;
         font-family: 'Montserrat',sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 24px;
         color: #FFFFFF;
       }
      p{
        padding: 24px 37px 63px 32px;
        font-weight: 300;
        font-size: 21px;
        line-height: 27px;
        color: #FFFFFF;
      }

      &__shift{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &--line{

          h1{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
          }
        }

        h2{
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }
      }
    }
      }
    }

.slick-slider {
  img {
    width: 100px !important;
    height: 40px !important;
    z-index: 99
  }
}


@media (max-width: 1440px) {

}
@media (max-width: 1200px) {
#review{
  .review--block p{
    padding: 24px 37px 36px 32px;
  }
  .slick-slide{
    width: 733px !important;
  }

}



}
@media (max-width: 1140px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 450px) {
#review{
  .slick-slide{
    width: 430px !important;
  }
  .slick-prev{
    left: 37px !important;
    top: 302px !important;
  }

  .slick-next{
    left: 301px !important;
    top: 307px!important;
  }
  .review{
    &--block{
      width: 85%;
      height: 365px;
      p{
        font-size: 18px;
      }
      span{
        font-size: 18px;
        margin-left: 0;
      }
      &__shift{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 71px;
        margin-left: -104px;

        &--line h1{
          margin-top: -94px;
          font-size: 24px;
          margin-left: 33px;
        }
        h2{
          margin-left: -247px;
          margin-top: -109px;
          font-size: 17px;
          font-weight: 300;
        }
      }
    }

  }
}
}
@media (max-width: 400px) {

}
@media (max-width: 380px) {

}
@media (max-width: 375px) {

}
@media (max-width: 320px) {

}


