
#courseProgramme {
  padding-bottom: 120px;
  font-family: 'Montserrat',sans-serif;

  .courseProgramme {
    &--title {
      border-left: 10px solid white;
      color: white;
      padding: 0 20px;
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 10px;
    }

    &--blocks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &__acc {
        width: 1078px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(7px);
        border-radius: 10px;
        padding:  20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        height: 90px;
        margin: 10px 0;

        &--firstBtn {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: -1px 20px;
          height: 50px;
          width: 150px;
        }

        &--secondBtn {
          font-weight: 500;
          font-size: 24px;
          color: #595FEB;
          background: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: -1px 20px;
          width: 148px;
          height: 49px;
        }


        &--icon {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
          &__giveMe{
            color: #fff;
            cursor: pointer;
            font-size: 30px;
            transition: 1s;
            &:focus{
              transform: rotate(-180deg);
            }
          }

        }

        &--text {

          display: flex;
          flex-direction: column;
          align-items: start;
          width: 570px;
          padding: 8px 0;


          h1 {
            font-weight: 600;
            font-size: 28px;
            color: #FFFFFF;
            padding-bottom: 14px;
          }

          span {

            color: white;
            padding: 5px 0;
          }

          p {
            padding-top: 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }
    }
  }
}


@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 1004px;
  }
}
@media (max-width: 1024px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 883px;
    height: 87px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    font-size: 19px;
    width: 131px;
    height: 42px;
    margin: 0 19px 0 0;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1 {
    font-size: 23px;
    margin: 0 0 0 19px;
  }
}
@media (max-width: 992px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 792px;
  }
}
@media (max-width: 768px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 632px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    font-size: 15px;
  }
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 481px;
  }
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    font-size: 12px;
    height: 35px;
    margin: 5px 0 0 0;

  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    font-size: 12px;
    width: 131px;
    height: 36px;
    margin: 5px 19px 0 0;
  }
}
@media (max-width: 451px) {
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    height: 35px;
    width: 308px;
  }
  #courseProgramme .courseProgramme--blocks__acc {
    width: 359px;
    height: 152px;
  }
  #courseProgramme .courseProgramme--title {
    font-size: 35px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1 {
    font-size: 23px;
    margin: 0 0 85px 17px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1 {
    font-size: 23px;
    margin: 37px 0 30px -58px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    font-size: 9px;
    width: 232px;
  }
}
@media (max-width: 351px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 279px;
    height: 152px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    width: 108px;
    position: absolute;
    left: 18px;
    top: 95px;
  }
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    width: 108px;
    position: absolute;
    left: 18px;
    top: 5px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1 {
    font-size: 23px;
    margin: 29px 0 57px -10px;
  }
}
@media (max-width: 320px) {

}