#courseProgramme {
  padding-bottom: 120px;
  font-family: 'Montserrat',sans-serif;

  .courseProgramme {
    &--title {
      border-left: 10px solid white;
      color: white;
      padding: 0 20px;
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 10px;
    }

    &--blocks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &__acc {
        width: 1078px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(7px);
        border-radius: 10px;
        padding:  20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        height: 90px;
        margin: 10px 0;

        &--firstBtn {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: -1px 20px;
          height: 50px;
          width: 150px;
        }

        &--secondBtn {
          font-weight: 500;
          font-size: 24px;
          color: #595FEB;
          background: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: -1px 20px;
          width: 148px;
          height: 49px;
        }


        &--icon {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
          &__giveMe{
            color: #fff;
            cursor: pointer;
            font-size: 30px;
            transition: 1s;
            &:focus{
              transform: rotate(-180deg);
            }
          }

        }

        &--text {

          display: flex;
          flex-direction: column;
          align-items: start;
          width: 570px;
          padding: 8px 0;


          h1 {
            font-weight: 600;
            font-size: 28px;
            color: #FFFFFF;
            padding-bottom: 14px;
          }

          span {

            color: white;
            padding: 5px 0;
          }

          p {
            padding-top: 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }
    }
  }
}




@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1140px) {
  #courseProgramme .courseProgramme--blocks {
    align-items: flex-start;
  }
}
@media (max-width: 960px) {
  #courseProgramme .courseProgramme--blocks__acc{
    width: 770px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1{
    margin-left: 20px;
  }
}
@media (max-width: 720px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 610px;
  }
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    font-size: 20px;
    width: 170px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1{
    font-size: 25px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn{
    font-size: 15px;
    width: 170px;
    margin: 0 20px 0 0;
  }
  }
@media (max-width: 580px) {
  #courseProgramme .courseProgramme--blocks__acc {
    width: 500px;
  }
  #courseProgramme .courseProgramme--blocks__acc--firstBtn {
    width: 200px;
    font-size: 15px;
  }
  #courseProgramme .courseProgramme--blocks__acc--text h1{
    font-size: 20px;
    padding-bottom: 30px;
    width: 80px;
  }
  #courseProgramme .courseProgramme--blocks__acc--secondBtn {
    width: 200px;
    margin: 0 20px 0 0;
  }
  #courseProgramme .courseProgramme--blocks__acc--text p {
    padding-top: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }
}
@media (max-width: 320px) {
  #courseProgramme .courseProgramme--blocks__acc {

  }
}