#more {
  margin-bottom: 20px;

  .more {
    &:hover {
      .more__img {
        //transform: rotate(-25deg);
        transform: scale(1.3) rotate(-14deg);
        margin-top: -50px;
        margin-left: -10px;
        filter: blur(3px);
      }

      .more__img2 {
        filter: blur(3px);
        transform: scale(1.4) rotate(28deg);
        margin-top: 20px;
      }


    }

    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(17px);
    border-radius: 10px;
    width: 1300px;
    height: 259px;
    z-index: 1;
    overflow: hidden;
    margin-left: 35px;

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 141.95px;
      height: 130.29px;
      border-radius: 10px;
      transition: .2s;


    }

    &__img2 {
      position: absolute;
      left: 804px;
      top: 105px;
      filter: blur(6.5px);
      transform: rotate(10deg);
      transition: .4s;
    }

    &__title {

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        margin-bottom: 15px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 31px;
        line-height: 39px;
        color: #FFFFFF;

      }
    }

    &__btn {
      margin-left: 110px;
      display: flex;
      flex-direction: column;

      &--btn1 {
        background: white;
        width: 186px;
        height: 46px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        color: blue;
        font-weight: 500;
        font-size: 20px;

      }

      &--btn2 {
        width: 186px;
        height: 46px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        color: white;
        background-color: transparent;
        font-size: 20px;
      }

      button {
        margin: 10px 0;

      }
    }
  }
}
