.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  margin-bottom: 259px;

  &__booksF {
    position: absolute;
    right: 119px;
    top: 102px;

  }
  &__books2 {
    position: absolute;
    left: 266px;
    top: 279px;
  }
  &__books3 {
    position: absolute;
    left: -0.1%;
    top: 600px;
  }
  &__books4 {
    position: absolute;
    left: 1232.89px;
    top: 600px;
  }
  &__books5 {
    position: absolute;
    left: 382.41px;
    top: 1461px;
  }
  &__block {
    padding-left: 50px;
    width: 635px;
    height: 1289px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      padding-bottom: 1px;
    }

    &__h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      padding: 10px 0;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #FFFFFF;
      padding: 20px 0;
    }

    &__inp {
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 7px;

      }

      input {
        width: 495px;
        height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        background: transparent;
        outline: none;
        padding-left: 20px;
        color: white;
        margin-bottom: 20px;
      }input::placeholder{
         color: rgba(255, 255, 255, 0.58);
       }
    }

    &__check {
      display: flex;

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }

      input {
        margin: 0 7px;
      }

      div {
        display: flex;
        align-items: center;

      }
    }

    &__card {
      display: flex;
      margin-bottom: 10px;

      h2 {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        padding-bottom: 1px;

      }

      &__1 {

        input {
          padding-left: 10px;
          width: 170px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          outline: none;
          margin-right: 14px;
          color: white;
        }input::placeholder{
                   color: rgba(255, 255, 255, 0.58);
         }
      }

      &__2 {
        input {
          padding-left: 10px;
          margin-right: 13px;
          width: 64px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          outline: none;
          background: transparent;
          color: white;

        }input::placeholder{
                   color: rgba(255, 255, 255, 0.58);         }
      }

      &__3 {
        input {
          padding-left: 10px;
          width: 56px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          outline: none;
          color: white;

        }input::placeholder{
                   color: rgba(255, 255, 255, 0.58);         }
      }
    }

    &__price {
      margin-bottom: 50px;
      display: flex;

      &--block {
        div {
          display: flex;
          padding-bottom: 7px;
          p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 5px;
          }
        }

        transition: .4s;
        width: 240px;
        height: 511px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        padding-left: 10px;
        margin-right: 20px;

        h3 {
          padding-top: 12px;
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
        }

        &-btn {
          display: flex;
          flex-direction: column;
          margin-top: 180px;

          h1 {
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
            margin-left: 20px;
          }

          button {
            width: 210px;
            height: 40px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            font-weight: 600;
            font-size: 20px;
            color: white;
            flex: none;
            order: 0;
            flex-grow: 0;
          }

        }
        .booksBlock{
          position: absolute;
          left: 123px;
          top: 20px;
        }
        .booksBlock2{
          position: absolute;
          left: 0;
          top: 189px;

        }
      }

      &--block2 {
        &-btn {
          margin-top: 10px;

          display: flex;
          flex-direction: column;

          h1 {
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;

            span {
              font-size: 15px;
              text-decoration: line-through;
              padding-left: 10px;
            }
          }

          button {
            width: 210px;
            height: 40px;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 10px;
            font-size: 20px;
            color: white;

          }
        }

        div {
          display: flex;
          padding-bottom: 7px;

          p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 5px;
          }
        }

        width: 240px;
        height: 511px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        padding-left: 10px;
        margin-right: 20px;
        transition: .4s;

        h3 {
          padding-top: 12px;
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;

        }


        &__check {
          display: flex;

          h4 {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
          }

          &_icons {
            color: white;
            margin-top: 3px;
            margin-right: 5px;
          }

        }

      }
    }

    &__button {
      margin-bottom: 20px;

      button {
        width: 495px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        color: #6363DF;
      }
    }

    &__last {
      display: flex;

      input{
        margin-right: 5px;
      }

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.71);
      }

    }
  }
}


@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
  .page__books5 {
    left: 272.41px;
    top: 1461px;
  }
  .page__books4 {
    left: 965.89px;
    top: 600px;
  }
  .page__books2 {
    left: 181px;
    top: 224px;
  }
}

@media (max-width: 1024px) {

  .page__books4 {
    left: 862.89px;
    top: 600px;
    width: 142px;
  }
  .page__books2 {
    left: 87px;
    top: 224px;
  }
  .page__block__price--block .booksBlock {
    left: 163px;
    top: 20px;
  }
  .page__books5 {
    left: 178.41000000000003px;
    top: 1461px;
  }
}

@media (max-width: 992px) {
  .page__books4 {
    left: 845.89px;
  }
  .page__books2 {
    left: 58px;
  }
}

@media (max-width: 768px) {
  .page__books4 {
    left: 626.89px;
  }
  .page__block {
    padding-left: 24px;
    width: 553px;
  }
  .page__booksF {
    right: 76px;
    top: 98px;
  }
  .page__books2 {
    left: 1px;
  }
  .page__books5 {
    left: 98.41px;
  }
}

@media (max-width: 576px) {
  .page__block {
    padding-left: 27px;
    width: 444px;
    height: 113rem;
  }
  .page__block__inp input {
    width: 383px;
  }
  .page__block__button button {
    width: 387px;
  }
  .page__block__last h2 {
    font-size: 13px;
  }
  .page__block__price {
    margin-bottom: 50px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
  }
  .page__block__price--block {
    margin-bottom: 20px;
  }
  .page__books3 {
    width: 62px;
  }
  .page__books4 {
    left: 454px;
    top: 676px;
    width: 96px;
  }
  .page__books5 {
    left: 55.41px;
    top: 125rem;
  }
}

@media (max-width: 451px) {
  .page__block {
    padding-left: 27px;
    width: 377px;
    height: 113rem;
  }
  .page__block__inp input {
    width: 316px;
  }
  .page__books4 {
    left: 377px;
    top: 676px;
    width: 72px;
  }
  .page__booksF {
    right: 66px;
    top: 115px;
  }
  .page__block__price {
    margin-left: 42px;
  }
  .page__block__button button {
    width: 327px;
  }
}

@media (max-width: 400px) {
  .page__block__card__1 input {
    width: 264px;
  }
  .page__block__card__3 h2 {
    position: absolute;
    top: 35rem;
    left: 185px;
  }
  .page__block__card__2 h2 {
    position: absolute;
    top: 35rem;
    left: 33px;
  }
  .page__block__card__3 input {
    margin: 100px 0 0 -159px;
    width: 111px;
    padding-left: 10px;
  }
  .page__block__card__2 input {
    width: 111px;
    height: 40px;
    margin: 100px 193px 0 -277px;
  }
  .page__block {
    width: 320px;
    height: 118rem;
  }
  .page__block__price {
    margin-left: 13px;
  }
  .page__block__button button {
    width: 265px;
  }
  .page__books5 {
    left: 44.41px;
    width: 140px;
    top: 126rem;
  }
  .page {
    padding-top: 154px;
    margin-bottom: 190px;
  }
  .page__block__inp input {
    width: 263px;
  }
  .page__books4 {
    left: 317px;
    top: 676px;
    width: 72px;
  }
}

@media (max-width: 376px) {
  .page__books4 {
    left: 297px;
    top: 698px;
    width: 72px;
  }
  .page__booksF {
    right: 0;
    top: 115px;
  }
  .page__books2 {
    left: -11px;
  }
}

@media (max-width: 351px) {
  .page__books5 {
    left: 17.41px;
    width: 140px;
    top: 126rem;
  }
  .page__block__price {
    margin-left: 8px;
  }

}

@media (max-width: 320px) {

  .page {
    padding-top: 184px;
    margin-bottom: 190px;
  }
  .page__books5 {
    display: none;
  }
  .page__block {
    width: 265px;
    height: 121rem;
  }
  .page__block__button button {
    width: 216px;
  }
  .page__block__inp input {
    width: 212px;
  }
  .page__block__card__1 input {
    width: 206px;
  }
  .page__block__card__2 input {
    width: 90px;
    height: 40px;
    margin: 100px 172px 0 -220px;
  }
  .page__block__card__3 input {
    width: 95px;
  }
  .page__block__card__2 h2 {
    top: 37.5rem;
  }
  .page__block__card__3 h2 {
    top: 37.5rem;
    left: 135px;
  }
  .page__books4 {
    left: 249px;
    top: 786px;
    width: 72px;
  }
  .page__booksF {
    right: 0;
    top: 137px;
  }
  .page__books2 {
    left: -11px;
    width: 74px;
    top: 312px;
  }
  .page__block__price--block {
    width: 193px;
  }
  .page__block__price--block2 {
    width: 193px;
  }
  .page__block__price--block2-btn button {
    width: 164px;
    margin-top: -10px;
  }
  .page__block__price--block .booksBlock {
    left: 127px;
    top: 20px;
  }
  .page__block__price--block-btn button {
    width: 164px;
    margin-top: -10px;
  }
  .page__block__price--block2-btn h1 {
    font-size: 20px;
  }
}
