#header {
  .header--tran-cl {
    display: none;
  }

  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 10px 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14.8993px;
      line-height: 18px;
      color: #FFFFFF;
      text-align: center;
    }

    &--text {
      width: 25%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }

      .active {
        border-bottom: 1px solid #fff;
      }
    }

    &--btn {
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 24px 12px 24px;
        gap: 10px;
        background: #FFFFFF;
        border-radius: 0 10px 10px 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #595FEB;
        transition: .4s;

        &:hover {
          transform: scale(0.9);
        }
      }
    }


  }
}

.header--menu {
  display: none;
}

@media (max-width: 1440px) {

  .menu-icon {
    display: none;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1140px) {
  hr {
    width: 100%;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 992px)   {
  #header .header--text {
    width: 40%;
  }
  .header h1{
    display: none;
  }
  .lol {
    padding-left: 0;
  }
  .header--tran {
    display: flex;
    transition: .6s;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 270px;
  }
  .header--tran-cl {
    display: block;
    transition: .4s;
  }
  .header--menu-h {
    transition: .6s;
    padding: 10px 200px 0 0;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: -267px;
  }
  .header--text-mn {
    transition: .6s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 130px;

    a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    .active {
      border-bottom: 1px solid #fff;
    }
  }
  .header--btn-mn {
    transition: .6s;

    button {
      margin: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 24px 12px 24px;
      gap: 10px;
      background: #FFFFFF;
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #595FEB;
      transition: .4s;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .header {
    width: 90%;
    transition: .6s;

    backdrop-filter: blur(45px);

    &--text {
      display: block;
    }

    &--btn {
      display: block;
    }

    &--hr {
      transform: translateY(16px);
      transition: .4s;
    }

    &--hr-close {
      transform: translateY(0);
      transition: .4s;
    }

    &--header--menu {

      button {
        width: 30px;
        height: 10px;
        background: #fff;
      }
    }
  }
  .menu-icon {
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  #header .header--text {
    display: none;
  }
  .header--menu {
    display: block;
  }
  #header .header--btn button {
    display: none;
  }


}

@media (max-width: 576px) {
  .header--menu-h {
    margin-left: -161px;
    padding: 2px;
    height: 50px;
  }


}

@media (max-width: 450px) {
  #header {
  }
  .header--menu-h {
    margin-left: -106px;
  }
}

@media (max-width: 400px) {
  #header {
  }
  .header--menu-h {
    margin-left: -85px;
  }
}

@media (max-width: 380px) {
  #header {
  }
  .header--menu-h {
    margin-left: -75px;
  }
}

@media (max-width: 376px) {
  #header {
    width: 93%;
  }
}
@media (max-width: 350px) {
  #header {
  }
}
@media (max-width: 320px) {
  #header {
  }
  .header--menu-h {
    margin-left: -40px;
  }
}

