#Hero{
  position: relative;
  .Hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-right{
      &-btn{
        transition: .4s;
      }
      &-h1{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        width: 58%;
        width: 85%;
      }
      &-p{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 30px 0 30px 0;

      }
    }
    &-book2{
      display: flex;
      justify-content: space-between;


    }
    &-Book1{
      display: flex;
      justify-content: space-between;
      align-items: end;
      &-two{
        order: 1;
      }
      &-one{
        transform: rotate(-70deg);
        margin-block-end: -130px;
        margin-left: 230px;
      }
    }
  }
}

@media (max-width: 1440px) {

}
@media (max-width: 1200px) {
  .Hero-Book2-two{
    margin: 107px 188px 0 0;
  }
  .img{
    margin: 0 20px 0 0;
  }
}
@media (max-width: 1140px) {

}
@media (max-width: 1024px) {
#Hero{
  .Hero-Book1{
    &-Book1{
      &-one{
        img{
          margin-left: 88%;
        }
      }
    }
    &--Book2{
      &-two{
        img{
          margin-left:50%;
        }
      }
    }
    &--right{
      p{
        font-size: 22px;
      }
      h1{
        font-size: 35px;
      }
    }
    &--left img{
      width: 90%;
    }
  }
}
}
@media (max-width: 992px) {
  #Hero{
    .Hero{
      &--right{
        p{
          font-size: 19px;
        }
        h1{
          font-size: 34px;
        }
      }
      &--left img{
        width: 90%;
      }
    }
  }

}
@media (max-width: 768px) {
  .img2{
    margin-left: 0;
    margin-top: -94px;
  }
  .img {
    margin: 0 20px 0 0;
    width: 100px;
  }
  #Hero{
    .Hero{
      flex-direction: column;
      &--right h1 {
        font-size: 42px;
      }
    }
  }
}
@media (max-width: 576px) {
  .Hero-Book2-two {
    margin: 106px -13px 0 0;
  }
  #Hero .Hero-Book1-one {
    transform: rotate(-70deg);
    margin-block-end: -194px;
    margin-left: 37px;
  }
  #Hero{
    .Hero--right h1{
      font-size: 36px;
    }
  }

}
@media (max-width: 450px) {
  #Hero{
    .Hero{
      &--right {
      }

    }
  }
}
@media (max-width: 400px) {
  #Hero{
    .Hero{
      button{
        margin-left: 108px;
      }
    }
  }
}
@media (max-width: 376px) {
  #Hero .Hero button {
    margin-left: 72px;
  }
}
@media (max-width: 320px) {
  #Hero{
    .Hero{
      button{
        margin-left: 78px;
      }
    }
  }
}
@media (max-width: 300px) {
  #Hero{
    .Hero{

    }
  }
}
