


.last {
  display: flex;
  padding: 0 120px;
  margin-bottom: 200px;
  justify-content: space-around;

  .last_img1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 360%;
  }

  &_img2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 414%;
    left: 540px;
  }

  &__title {
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 49px;
      color: #ffffff;
      padding-bottom: 20px;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.89);
    }
  }

  &__block {
    padding-left: 30px;
    width: 555px;
    height: 484px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(15px);
    border-radius: 10px;

    &__title {
      padding: 25px 0 0 0;
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    &-inp {
      background: transparent;
      color: white;
      width: 495px;
      height: 40px;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      outline: none;
      padding-left: 14px;
      margin: 10px 0;

    }

    &-inp::placeholder {
      color: rgba(255, 255, 255, 0.67);
    }

    &--inp::placeholder {
      color: rgba(255, 255, 255, 0.67);
    }

    &--inp {
      background: transparent;
      color: white;
      outline: none;
      width: 495px;
      height: 170px;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      margin: 10px 0 30px 0;
      padding: 0 0 130px 10px;
    }

    button {
      color: blue;
      width: 495px;
      height: 44px;
      background: #FFFFFF;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .last_img2 {
    top: 174rem;
    left: 387px;
  }
  .last .last_img1 {
    top: 146rem;
  }
  .last {
    display: flex;
    padding: 0 0;
    margin-bottom: 200px;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .last_img2 {
    top: 171rem;
    left: 387px;
  }
}


@media (max-width: 992px) {
  .last .last_img1 {
    width: 100px;
    height: 100px;
    left: 0;
    top: 134rem;
  }
  .last_img2 {
    top: 174rem;
    left: 121px;
  }
  .last {
    flex-direction: column;
    padding: 0 0;
    justify-content: center;
    align-items: center;
  }
  .last__title p {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 576px) {
  .last .last_img1 {
    width: 64px;
    height: 64px;
    left: 0;
    top: 366rem;
  }
  .last__block {
    width: 474px;
    height: 484px;
  }
  .last__block-inp {
    width: 397px;
    height: 40px;
  }
  .last__block--inp {
    width: 397px;
    height: 170px;
  }
  .last__block button {
    width: 397px;
    height: 44px;
  }
  .last_img2 {
    width: 120px;
    height: 110px;
    top: 408rem;
    left: 102px;
  }
}

@media (max-width: 451px)   {
  .last_img2 {
    width: 91px;
    height: 92px;
    top: 408rem;
    left: 318px;
  }
  .last__block {
    width: 381px;
    height: 484px;
  }
  .last__block-inp {
    width: 317px;
    height: 40px;
  }
  .last__block--inp {
    width: 317px;
    height: 170px;
  }
  .last__block button {
    width: 317px;
    height: 44px;
  }

}

@media (max-width: 400px) {
  .last .last_img1 {
    width: 59px;
    height: 71px;
    left: 0;
    top: 365rem;
  }
  .last_img2 {
    width: 91px;
    height: 92px;
    top: 392rem;
    left: 280px;
  }

  .last__block {
    width: 338px;
    height: 484px;
  }
  .last__block-inp {
    width: 280px;
    height: 40px;
  }
  .last__block--inp {
    width: 280px;
    height: 170px;
  }
  .last__block button {
    width: 280px;
    height: 44px;
  }

}

@media (max-width: 376px) {
  .last_img2 {
    width: 79px;
    height: 71px;
    top: 391rem;
    left: 279px;
  }
  .last__title p {
    font-size: 18px;
    line-height: 21px;
  }
  .last__title h1 {
    font-size: 39px;
    line-height: 49px;
    padding-bottom: 6px;
  }

  .last__block {
    width: 323px;
    height: 484px;
  }
  .last__block-inp {
    width: 261px;
    height: 40px;
  }
  .last__block--inp {
    width: 261px;
    height: 170px;
  }
  .last__block button {
    width: 261px;
    height: 44px;
  }
}

@media (max-width: 350px) {

}

@media (max-width: 320px) {
  .last_img2 {
    width: 79px;
    height: 71px;
    top: 343rem;
    left: 210px;
  }
  .last .last_img1 {
    width: 47px;
    height: 64px;
    left: 0;
    top: 303rem;
  }
  .last__title h1 {
    font-size: 29px;
    padding-bottom: 0;
  }

  .last__block {
    width: 274px;
    height: 481px;
    padding-left: 15px;
  }
  .last__block-inp {
    width: 237px;
    height: 40px;
  }
  .last__block--inp {
    width: 237px;
    height: 170px;
  }
  .last__block button {
    width: 237px;
    height: 44px;
  }
}
