#Curs {
  padding: 200px;

  .Curs {
    position: absolute;
    width: 1380px;
    height: 506px;
    left: 70px;
    top: 0;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 189px;
    &--team {
      display: flex;
      align-items: center;
      justify-content: center;

      &__lead {
        h1 {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 49px;
          color: #FFFFFF;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 200;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          width: 60%;
          padding: 25px 0 25px 0;
        }

        &--blossom {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          button {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 10px 24px;
            gap: 10px;
            background: #FFFFFF;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #595FEB;
            flex: none;
            order: 0;
            flex-grow: 0;
            &:hover{
              cursor: pointer;
              transform: scale(1.1);
            }
          }

          .navbar {
            margin-left: 20px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(7px);
            border-radius: 10px;


            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            &:hover{
              cursor: pointer;
              transform: scale(1.1);
            }
          }


        }
      }
    }
  }
}