#Curs {
  padding: 200px;

  .Curs {
    position: absolute;
    width: 1380px;
    height: 506px;
    left: 57px;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    margin-top: 200px;

    &--team {
      display: flex;
      align-items: center;
      justify-content: space-around;


      &__lead {
        h1 {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 49px;
          color: #FFFFFF;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 200;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          width: 550px;
          padding: 25px 0 25px 0;
        }

        &--blossom {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .face {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 10px 24px;
            gap: 10px;
            background: #FFFFFF;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #595FEB;
            flex: none;
            order: 0;
            flex-grow: 0;
            animation: ani 1s ease-in;
            @keyframes ani {
              0% {
                transform: translate(-80px, 10px);
              }
            }

            &:hover {
              cursor: pointer;
            }
          }


          .navbar {
            margin-left: 20px;
            padding: 10px 24px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(7px);
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;

            &:hover {
              cursor: pointer;
            }
          }


        }
      }
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
  #Curs {
    .old{
      margin-left: 50rem;
    }
    .Curs {
      img{
          margin-left: 0%;
      }
      width: 90%;
      height: 121%;
      &--team {
        flex-direction: column;
        &__lead p{
          width: 58%;
        }
      }
    }
    .abandon{
      margin-left: 97%;
      margin-top: 105%;
    }

  }
}

@media (max-width: 1140px) {

}

@media (max-width: 1024px) {
  #Curs {
    .old{
      margin-left: 43rem;
    }
    .Curs {
      img{
        margin-left: 0%;
      }
      width: 90%;
      height: 125%;
      &--team {
        flex-direction: column;
        &__lead p{
          width: 58%;
        }
      }
    }
    .abandon{
      margin-left: 97%;
      margin-top: 117%;
    }

  }

}

@media (max-width: 992px) {
  #Curs {
    .old{
      margin-left: 40rem;
    }
    .Curs {
      img{
        margin-left: 0%;
      }
      width: 90%;
      height: 125%;
      &--team {
        flex-direction: column;
        &__lead p{
          width: 58%;
        }
      }
    }
    .abandon{
      margin-left: 97%;
      margin-top: 129%;
    }

  }

}

@media (max-width: 768px) {
#Curs{
  .old{
    margin-left: 27rem;
  }
  .abandon{
    margin-top: 227%;
}
  .Curs--team{
    margin-left: 13%;
    &__lead p{
      width: 73%;
    }
  }
}
}

@media (max-width: 576px) {
#Curs{
  .old{
    margin-left: 17rem;
  }
  .abandon{
    margin-top: 470%;
  }
}
}

@media (max-width: 450px) {
#Curs{
  .old{
    margin-left: 10rem;
  }
  .Curs--team{
    &__lead{
      &--blossom{
        flex-direction: column;
      }
    }
  }
}
}

@media (max-width: 400px) {

}

@media (max-width: 380px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}